* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

.centered-form-title{
  font-size: 5rem;
  font-style: italic;
  color: rgb(104, 104, 104);
  margin-bottom: 2rem;
}

button {
  border: none;
  background: rgb(206, 118, 118);
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
  border-radius: 3px;
}

#send-location:hover {
  background: rgb(198,235,234);
  color: rgb(39, 39, 39);
}

button:hover {
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(206, 118, 118);;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.centered-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: rgb(198,235,234);
  background: radial-gradient(circle, rgba(198,235,234,1) 0%, rgba(177,223,206,1) 96%);

}

.centered-form__form {
  text-align: center;
  background: rgb(107, 107, 107);
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px;
  width: 230px;
  box-shadow: 2px 2px 2px #a8a8a8;
  padding: 0 1rem;
}

.form-field {
  color: whitesmoke;
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 3px;
}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  background: rgb(199, 119, 119);
  border: 3px solid  rgb(201, 148, 148)
}

.chat__sidebar h3 {
  color: #e7e8e9;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
  
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

.message-body__content{
  background: rgb(199, 93, 93);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  color: white;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
